body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background: #222;
    padding: 15px;
}

header a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

main {
    padding: 30px;
}

.cursos {
    display: flex;
    gap: 20px;
}

.curso-card {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.curso-detalhe img {
    width: 200px;
}
