body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background: #eee;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.conteudo {
    padding: 20px;
}

.art {
    background: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
}
.curso{
    border-radius: 2px;
    border: 10px;
}